@font-face {
  font-family: Lemon Milk;
  src: url("/fonts/LEMONMILK-Bold.otf") format("opentype");
}

@font-face {
  font-family: Lemon Milk;
  src: url("/fonts/LEMONMILK-Light.otf") format("opentype");
}

@font-face {
  font-family: Lemon Milk;
  src: url("/fonts/LEMONMILK-Medium.otf") format("opentype");
}

@font-face {
  font-family: Lemon Milk;
  src: url("/fonts/LEMONMILK-Regular.otf") format("opentype");
}