$black: black;
$white: white;
$blue: blue;
$red: red;
$pink-1: #ebe9f2;
$pink-2: #cecad8;
$gray-1: #818181;
$green: rgba(0,255,10,1);

$font-primary: Lemon Milk;
$font-secondary:'Abel', sans-serif;

$breakpoint-md: 768px;
$breakpoint-lg: 990px;
$breakpoint-xl: 1200px;
