@import '../../../scss/vars.scss';
@import '../../../scss/utils.scss';

.homeHero__title {
  color: $white;
  font-family: $font-secondary;
  font-size: 1.8rem;
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  text-align: center;

  @media (min-width: $breakpoint-md) {
    top: 15%;
    width: 75%;
    font-size: 2.7rem;
    margin: 0 auto;
  }

  @media (min-width: $breakpoint-lg) {
    width: 50%;
    top: 20%;
  }
}

.projectItem__title {
  color: $gray-1;
  margin-bottom: 1.2em ;

  @media (min-width: $breakpoint-lg) {
    margin-bottom: 1em;
  }
}

.sectionServiceTitle {
  color: $white;
  font-size: 2rem;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 35%;

  @media (min-width: $breakpoint-md) {
    font-size: 4rem;
    top: 35%;
  }

  @media (min-width: $breakpoint-lg) {
    font-size: 7rem;
    top: 25%;
  }
}

.serviceItem-title {
  color: $white;
  font-size: 2rem;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 35%;

  @media (min-width: $breakpoint-md) {
    font-size: 3.5rem;
    top: 35%;
  }
}

.footerTitle {
  color: $white;
  margin: 0;
  padding: 35px 20px;
  font-size: 1.2rem;
  text-align: center;
}