@import '../../../scss/vars.scss';
@import '../../../scss/utils.scss';

.homeHero__title {
  text-align: center;
  font-family: $font-secondary;
  font-size: 2rem;
  color: $gray-1;
}

.projectItem__title {
  color: $gray-1;
  margin-bottom: 1.5em ;
}