@import '../../../scss/vars.scss';

.bgHeroHome {
  background-color: $pink-1;
  height: auto;
  position: relative;
  z-index: 1;
}

.showAnimated {
  color: $pink-1;
  text-align: center;
  padding: 150px 0;
  display: block;
  margin: 0;
  transition: .5s ease-in-out;
  text-shadow: 
              1px 1px 1px $pink-2,
              1px 2px 1px  $pink-2;

  @media (min-width: $breakpoint-md) {
    font-size: 8rem;
  }

  @media (min-width: $breakpoint-xl) {
    font-size: 12rem;
  }
}

.titleAnimatedHome {
  transition: .5s ease-in-out;
  text-shadow:  1px 1px 1px $pink-2,
                1px 2px 1px  $pink-2,
                1px 3px 1px  $pink-2,
                1px 4px 1px  $pink-2,
                1px 5px 1px  $pink-2,
                1px 6px 1px  $pink-2,
                1px 7px 1px  $pink-2,
                1px 8px 1px  $pink-2,
                1px 9px 1px  $pink-2,
                1px 10px 1px  $pink-2,
                1px 15px 6px rgba(148, 139, 139, 0.4),
                1px 20px 13px rgba(211, 211, 211, 0.2),
                1px 25px 18px rgba(209, 209, 209, 0.294),
                1px 28px 25px rgba(231, 231, 231, 0.4);
}
